
.signup-In-form-container{
  background-color: #FFF7E7;
  padding: 30px;
  height: 100vh;
  color: #707070;
}
.signup-In-input{
  text-align: center;
  font-size: 16px;
  padding: 5px;
  margin: 15px;
  border-radius: 25px;
  width: 250px;
  color: #707070;
  border: 1px solid #707070;
  box-shadow: 1px 1px 3px 1px grey;
}
.signup-In-input:focus{
  outline: none;
}

.signup-In-form{
  width: 400px;
  border: 1px solid #707070;;
  border-radius: 25px;
padding: 30px;
  margin-left:auto;
  margin-right:auto;
  background-color: #DFE0DF;
  box-shadow: 1px 1px 3px 1px grey;
}
.signup-In-form > .signup-In-input{
  margin-bottom: 20px;
  margin-top: 20px;
}
@media only screen and (max-width: 450px) {
  .signup-In-form{
    width: 280px;
  padding: 10px;
  }
  .signup-In-input{
    font-size: 12px;
    margin: 10px;
    width: 200px;
  }
}
@media only screen and (max-width: 330px) {
  .signup-In-form{
    width: 260px;
  padding: 10px;
  }
  .signup-In-input{
    font-size: 12px;
    margin: 10px;
    width: 200px;
  }
  
}