
.form-container{
  background-color: #FFF7E7;
  padding: 30px;
}
input{
  text-align: center;
  font-size: 16px;
  padding: 8px;
  margin: 15px;
  
  border-radius: 25px;
  width: 250px;
}
.Button{
  border-radius: 25px;
}
form{
  width: 400px;
  border: 1px solid black;
  border-radius: 25px;

  margin-left:auto;
  margin-right:auto;
  background-color: #DFE0DF;
}