
.listing {
  color: #858585;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  background-color: #fff7e7;
  height: 100vh;
}

.listing-img-price {
  flex-flow: column;
  margin-right: 75px;
}

.listing-img-price > img {
  height: 350px;
  width: inherit;
  border-radius: 50px;
}

.listing-info {
  height: 300px;
  width: fit-content;
  margin-right: 100px;
  padding-top: 25px;
}

.listing-info > h4{
  width: fit-content;
  margin-bottom: 30px;
} 

.listing-info > p {
  width: fit-content;
  margin-top: 45px;
  font-size: 20px;
}