#nav {
  display: flex;
  flex-direction: row;
  background-color: #FFA08B;
  border-style: solid;
  border-color: #707070;
  border-width: 1px;
  justify-content: space-between;
  height: 50px;
  align-items: center;
 
  
  

}
.link {
  color: #FFF7E7;
  margin-right: 30px;
}

.logo{
  color: #FFF7E7;
  margin-left: 40px;
  font-weight: 700;
  font-size: 20px;
}