#nav {
  display: flex;
  flex-direction: row;
  background-color: #ffa08b;
  border-style: solid;
  border-color: #707070;
  border-width: 1px;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  margin-bottom: 50px;
}
.link {
  color: #fff7e7;
  margin-right: 30px !important;
  border: none;
  background-color: #ffa08b;
}

.logo {
  color: #fff7e7;
  margin-left: 100px;
  font-weight: 700;
  font-size: 20px;
}

.link-welcome {
  width: fit-content;
  margin-right: 85px;

}

@media (max-width:800px) {
  .logo{
    margin-left: 20px;
    font-size: 14px;
  }
  .link{
  
    font-size: 12px;
    background-color: #f8f9fa;
    color: black;
    
  }
  #nav {
    display: none;
  }
}
@media (min-width:800px) {
  
  #media-nav{
  display: none;
  }
  .bg-light {
    background-color: #ffa08b; 
  }
 #mr-auto {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  border-style: solid;
 
  justify-content:left;
 }
 
  
}
